/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #030308;
}

html {
  scroll-behavior: smooth;
}
section{
  padding: 5rem 9%;
}
/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 14vh;
  position: fixed; /* Add this to make the navigation bar fixed */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Position it at the left side of the viewport */
  right: 0; /* Position it at the right side of the viewport */
  z-index: 999; /* Adjust the z-index value as needed to ensure it's on top of other content */
  background-color: rgba(0, 0, 0, 0.8); /* Add a background color to the navigation bar */
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  text-decoration-color: yellow;
  text-transform: uppercase;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.nav-links a:hover {
  color: yellow;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: gold;
}

.logo {
  font-size: 2rem;
  color: white;
  pointer-events: none;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.logo:hover {
  cursor: default;
}

/* Add this style to push the content below the navigation bar */
/* body {
  padding-top: 14vh !important;
} */

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
  }
  
  .hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color:white;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links li {
    list-style: none;
  }
  
  .menu-links.open {
    max-height: 300px;
  }
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  /*================ Navigation Bar ends here ========================================= */
  section {
    padding-top: 14vh !important;
    padding: 0 10%;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
  .section-container {
    display: flex;
  }
  /* START home section style start */
/* START home section style start */
#home{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 10%; 
  background: #030308;
 }
 
 .home-content{
  max-width: 500px;
  margin-left: -30;
 }
 .home-content h1{
   font-size: 56px;
   font-weight: 700;
   line-height: 1.2;
   color: aliceblue;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay:.7s;
 }
 .home-content h3{
     font-size: 32px ;
     font-weight: 700;
     opacity: 0;
     animation: slideLeft 1s ease forwards;
     animation-delay:.7s;
 } 
 .home-content p {
     font-size: 16px;
     margin: 20px 0 40px;
     color: aliceblue;
     opacity: 0;
     animation: slideLeft 1s ease forwards;
     animation-delay:1.3s;
 }
/* todo btn */
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  border-radius: 40px;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:1.8s;
}
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(to right, #ff8800, #e2f53b);  
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
  transition: 5s ease;
}
.btn:hover.btn::before {
  background-position: 100% 0;
}
.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(to right, #ff8800, #e2f53b); 
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  transition: 5s ease;
}
.btn:hover::after{
  background-position: 100% 0;
}

.home-sci a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #ff8800, #e2f53b); 
  border-radius: 50%;
  font-size: 20px;
  color:white;
  text-decoration: none;
  margin: 20px 0;
  z-index: 1;
}
.home-sci a:nth-child(1){
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay:2.1s;
}
.home-sci a:nth-child(2){
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay:2.1s;
}
.home-sci a:nth-child(3){
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:2.1s;
}
.home-sci a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ff8800, #e2f53b);  
  border-radius: 50%;
  z-index: -1;
  transition: .5s ease;
} 
.home-sci a:hover::before{
 filter: blur(5px);
}
.home-sci a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #030308;
  border-radius: 50%;
  transform: scale(.88);
  z-index: -1;
  transition: .5s ease;
}
.home-sci a:hover::after {
  transform: scale(0);  
}

/* Home image */
.home-img {
  width: 410px;
  height: 410px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay:2.1s, 3.1s;
}

.home-img .glowing-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img .glowing-circle::after{
  content: '';
  position: absolute; 
  width: 380px;
  height: 380px;
  border-radius: 50%;
  z-index: 1;
}
.glowing-circle span{
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(to right, #ff8800, #e2f53b); 
  border-radius: 50%;
  animation: circleRotate 5s linear infinite;
}
.glowing-circle span:nth-child(1){
  filter: blur(10px);
}
.glowing-circle .image{
  position: relative;
  width: 380px;
  height: 380px;
  background: #030308;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}
.image img{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  max-width: 380px;
  object-fit: cover;
}
/* =====================================about section ======================*/
#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 2rem; /* Adjust the font size as needed */
  color: aliceblue;
  margin-bottom: 2rem; /* Add some space between the title and the content */
}

.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

/* Add styles for the image and paragraphs if needed */
.box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.box {
  /* Add styles for the paragraphs if needed */
}



/* ===============================certificate section ========================== */
  /* ------------------certifications section */
  #certification {
    padding: 20px 10%;
  }
#certification .section-title {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
 
}

.certificate__container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}


.certificate__img img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Add transition property */
}

.certificate__img img:hover {
  transform: scale(1.4); /* Increase the image size by 30% on hover */
}
/* =============================== SKILLS =====*/

/* Skills section using flexbox */
#skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
 
}

.top_div {
  grid-column: 1/-1; /* Span the entire row */
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.skill-box {
  padding: 1rem;
  border: 1px solid yellow;
  border-radius: 5%;
}

.skill-box h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.skill-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill-box li {
  margin-bottom: 0.5rem;
  color: #fff;
}


/*================ project section============== */

.container .heading{
  text-align: center;
  padding-bottom: 15px;
  color:whitesmoke;
  text-shadow: 0 5px 10px rgba(236, 144, 6, 0.2);
}

.container .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap:15px;
}

.container .box-container .box{
  box-shadow: 0 5px 10px rgba(235, 117, 7, 0.2);
  border-radius: 5px;
  background: #ecd176;
  text-align: center;
  padding:10px 10px;
}

.container .box-container .box img{
  height: auto;
  width: 100%;
}

.container .box-container .box h3{
  color:black;
  font-size: 22px;
  padding:10px 0;
}

.container .box-container .box p{
  color:black;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btnp{
  margin-top: 10px;
  display: inline-block;
  background: linear-gradient(to right, #ff8800, #e2f53b); 
  color:#fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
  text-decoration: none;
}

.container .box-container .box .btn:hover{
  letter-spacing: 1px;
}

.container .box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}
/* ===== CONTACT =====*/
#contact {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i {
  margin-right: 20px;
  font-size: 25px;
}

.contact-form {
  max-width: 700px;
  margin-right: 50px;
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-form h2 {
  color:#fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box,
.contact-form textarea {
  background: linear-gradient(to right, gold, #ff2600);
  color:white;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  opacity: 50%;
}

.contact-form .send-btn {
  float: right;
 background: linear-gradient(to right, gold, #ff2600);
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}
.footer{
  margin-top: 20px;
  border-top: 1px solid yellow;
  min-height: 100px;
  width: 100%;
  background: #000000;
  border-top: 2px solid  #ff2600; 
}

